{
  "openapi": "3.1.0",
  "info": {
    "title": "REC Chat API",
    "version": "1.0.0",
    "description": "Backend-only access to shared public REC knowledge. Never embed a Bearer key in browsers or mobile binaries. Limits shown are deployment defaults."
  },
  "servers": [
    {
      "url": "https://chat.nrep.ug"
    }
  ],
  "paths": {
    "/api/v1/chat": {
      "post": {
        "operationId": "chat",
        "summary": "Ask the REC assistant",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Stateless conversation. The caller supplies bounded recent history. SSE errors after headers retain HTTP 200; require a done terminal event for success. Quotas include cached, failed and cancelled admitted attempts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Markdown answer or SSE stream",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": ": connected\n\nevent: sources\ndata: []\n\nevent: token\ndata: \"Hello\"\n\nevent: done\ndata: {\"cached\":false}\n\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "408": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "415": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin-issued rec_... API key, stored only on the calling backend."
      }
    },
    "responses": {
      "Error": {
        "description": "Validation, authentication, capacity or service failure. For 429 and capacity 503, respect Retry-After.",
        "headers": {
          "X-Request-Id": {
            "schema": {
              "type": "string"
            }
          },
          "Retry-After": {
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "question"
        ],
        "properties": {
          "question": {
            "type": "string",
            "minLength": 2,
            "maxLength": 4000
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "history": {
            "type": "array",
            "maxItems": 8,
            "description": "At most 4,800 content characters in total by default.",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "type": "string",
                  "maxLength": 1200
                }
              }
            }
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": [
          "answer",
          "sources",
          "requestId"
        ],
        "properties": {
          "answer": {
            "type": "string",
            "description": "Markdown; sanitize before rendering."
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "requestId": {
            "type": "string",
            "format": "uuid"
          },
          "cached": {
            "type": "boolean"
          },
          "validationFallback": {
            "type": "boolean",
            "description": "True indicates degraded model synthesis using verified fallback evidence."
          }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "code",
          "requestId"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "code": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        }
      }
    }
  }
}
